# Основные библиотеки
requests==2.32.0          # Для HTTP-запросов
pytest==8.1.1            # Фреймворк для тестирования
pytest-html==4.1.1       # Генерация HTML-отчётов
allure-pytest==2.13.2    # Интеграция Allure с Pytest
python-dotenv==1.0.0     # Для работы с .env-файлами